h1{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
h2{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
.main-box1{
	background: lightblue ;
	padding: 30px;
	border: dashed; color: purple;
	margin: 30px;
	position: right;
	display: inline-block;
	float: right;
	top: 20px, 20px, 20px, 20px;
	width: 200px;
}
h3{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: hotpink;}
h4{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: rgb(67, 127, 212);}
h5{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: rgb(218, 197, 114);}
h6{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: coral;}
p{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; text-align: left; line-height: 0%; letter-spacing: 0cqb;}
ul{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
li{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
a{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 30px; color: coral; text-transform: lowercase;}

.image-row {
  display: flex;
  gap: 20px;
}

.image-row img {
  width: 100%;
  max-width: 200px;
  height: auto;
}

.image-border {
  border: 15px solid #ADD8E6;
  padding: 16px;
}

.image-row {
  display: flex;
  gap: 16px;
}
